<div class="bg-white border-1 border-violet-400 m-2 shadow-violet-400 shadow-xs rounded-xl p-2 cursor-pointer h-1/6 min-h-16" (dblclick)="enableEdit()">
   @if (isEditing()) {
    <input
      class="border border-gray-300 w-full"
      [value]="editedTitle()"
      (input)="onTitleInput($event)"
      (blur)="saveEdit()"
      (keydown.enter)="saveEdit()"
      (keydown.esc)="cancelEdit()"
      autofocus
    />
    <input
      class="border border-gray-300 w-full"
      [value]="editedDescription()"
      (input)="onDescriptionInput($event)"
      (blur)="saveEdit()"
      (keydown.enter)="saveEdit()"
      (keydown.esc)="cancelEdit()"
      autofocus
    />
  } @else {
    <p class="font-medium">{{ task().title }}</p>
    <p>{{ task().description }}</p>
  }
</div>