<div class="shadow-lg border-1 border-gray-200 rounded-sm h-full min-w-72 flex-shrink-0 bg-gray-100" cdkDropList [id]="'cdk-drop-list-' + listSignal().id" [cdkDropListData]="listSignal().tasks" [cdkDropListConnectedTo]="connectedLists"
  (cdkDropListDropped)="drop($event)">
    <div class="flex justify-center items-center border-b-2 border-violet-600 h-1/10 rounded-t-sm bg-violet-100 mb-4">
         <h2 class="font-medium text-violet-800 text-xl">{{ listSignal().title }}</h2>
    </div>
 

  @for (task of listSignal().tasks; track task.id) {
  <app-task [task]="task" (update)="updateTask($event)" cdkDrag></app-task>
  } @empty {
  <p class="text-gray-500 text-center py-4">Aucune tâche</p>
  }

   <button class="btn btn-primary mt-4 w-full" (click)="openModal()">Ajouter une tâche</button>
</div>

@if (isModalOpen()) {
  <app-add-task-modale (addTask)="addTask($event)" (close)="closeModal()"/>
}